# Algorithmic Methods
For reference and additional info: https://docs.python.org/3/tutorial/introduction.html
# 0. Some programming basics
**0.1. Definition Algorithm**

According to the [Longman Dictionary](https://www.ldoceonline.com/dictionary/algorithm):


> (technical) **a set of instructions that are followed in a fixed order** and used for solving a mathematical problem, making a computer program etc

origin:
> algorithm (1600-1700) algorism “algorithm” ((13-19 centuries)), from Medieval Latin algorismus, from Arabic al-khuwarizmi, from al-Khuwarizmi 9th-century Persian mathematician; influenced by Greek arithmos “number”

**0.2. Definition Program**

Again, according to the [Longman Dictionary](https://www.ldoceonline.com/dictionary/program):

> a set of instructions given to a computer to make it perform an operation

These instructions are often referred to as 'Statements'

**0.3. Statements and Expressions**

> A [statement](https://docs.python.org/3/glossary.html#term-statement) is part of a suite (a “block” of code). A statement is either an expression or one of several constructs with a keyword, such as if, while or for.


> A piece of syntax which can be evaluated to some value. In other words, [an expression](https://docs.python.org/3/glossary.html#term-statement) is an accumulation of expression elements like literals, names, attribute access, operators or function calls which all return a value. In contrast to many other languages, not all language constructs are expressions. There are also statements which cannot be used as expressions, such as while. Assignments are also statements, not expressions.

---


# 1. Variables
**1.1. Assignment**

Consider the following **statement** that assigns a *value* to a *name*:

Note: The *equal* sign ( = ) denotes assignment rather than equality!

In [ ]:
a = 1

*a* is the name of a variable that contains the *value* 1

A variable can be referenced by its name:

In [ ]:
a



---


**1.2. Rules and Conventions for variable names**

Variable names **MUST NOT** be [reserved words](https://www.w3schools.com/python/python_ref_keywords.asp):

* False
* class
* finally
* is
* return
* None
* continue
* for
* lambda
* try
* True
* def
* from
* nonlocal
* while
* and
* del
* global
* not
* with
* as
* elif
* if
* or
* yield
* assert
* else
* import
* pass
* break
* except
* in
* raise

Attempting to do so will result in an error:

In [ ]:
def = 15



---


Variable names **SHOULD NOT** be built-in function names!

Consider the following statement:

> print = 15

The statement above is valid (i.e. the interpreter will not hesitate to execute the code)

However, this overwrites the expected behavior and can lead to errors down the line!

In [ ]:
example1 = 15
print (example1)

In [ ]:
print = 15
print (example1)



---


**1.3. Naming Guidelines [2]**
* Variable names can contain only letters, numbers, and underscores. They can start with a letter or an underscore, but not with a number. For instance, you can call a variable message_1 but not 1_message

* Spaces are not allowed in variable names, but underscores can be used to separate words in variable names. For example, greeting_message works, but greeting message will cause errors.

* Avoid using Python keywords and function names as variable names; that is, do not use words that Python has reserved for a particular programmatic purpose, such as the word print.

* Variable names should be short but descriptive. For example, name is better than n, student_name is better than s_n, and name_length is better than length_of_persons_name.

* Be careful when using the lowercase letter l and the uppercase letter O because they could be confused with the numbers 1 and 0.



---
**1.4. Values**
Variables hold values that belong to a certain *data type*. For each data type, various functions exist that express operations for their respective data types

Example:

In [ ]:
a = 5
type(a)

The value of the variable *a* belongs to the data type *integer*

In [ ]:
b = a + 5

The **operator** *+* expresses the addition operation.

Question: What value does b hold after this operation?



---

**1.5. Numeric Types [3]**

There are three native numeric data types in Python:

* Integer
* Float
* Complex



Integer Examples:
* 20
* 191238
* 1

Float Examples:
* 20.0
* 3.14
* 919.5123123123



---
**1.6. Selected operators for numeric data types**

Addition:

In [ ]:
1+1

Subtraction:

In [ ]:
2-1

Multiplication:

In [ ]:
2*3

Division:

In [ ]:
8/3

Modulo (Returns the remainder of a divison):

In [ ]:
8%2

In [ ]:
8%3

Power:

In [ ]:
5**2

In [ ]:
2**5

Absolute Value:

In [ ]:
abs(-5)

Different operations can return different data types!

For example, the division operation can take two integers as inputs, but will return a float value as output!

In [ ]:
a = 5
b = 10
c = a/b
print (type(a))
print (type(b))
print (type(c))



---


**1.7. But what about Zeros and Ones?**

Internally, numbers are represented in binary format. This can be understood as a series of zeros and ones. Each position is referred to as a bit (Binary Information UniT)

A 5-Bit Integer holds 5 positions of ones or zeros.

    Example 1:
    0   1   0   1   0
    In decimal numbers, this equals to a 10.

How do we get from binary to decimal?

Each position in binary format refers to a power of two:

    Example 1:
    0     1     0     1     0
    2^4  2^3   2^2   2^1   2^0
In order to get the decimal number, you need to sum over all active (=1) positions.

    Example 1:
    2^3 + 2^1 = 10

Let us try a different example!

    Example 2:
    a)  0     0     1     1     1 =>  2^2 + 2^1 + 2^0 = 7
    b)  0     0     1     0     0 =>  2^2 = 4
    _______________________________
        2^4   2^3   2^2   2^1   2^0


---
**1.8. Zeros and Ones**

How many decimal numbers can be expressed by a 5 bit Integer?

    2^5 = 32

What if we provide an additional bit?

    2^6 = 64

More generally:

    A n-Bit Integer can hold 2^n values!

**Question:**

How many more numbers can be expressed if an additional bit is available?

63 Bit Integer vs. 64 Bit Integer?



---

**1.9. Signed vs. Unsigned**

Sometimes one bit is reserved to express whether a number is positive or negative:

    [0] 0 0 0 0 => 5 bit signed

The range goes from -15 to 15. Depending on the implementation it might go from -15 to 16 (in order not to waste one possible number)

What if we are at - 15 and add an additional number?

    [0] 1 1 1 1 => - 15
    + 1
    [1] 0 0 0 0 => 0 ?

This behavior has historically been a source of bugs. Under most circumstances (related to this class), you dont have to take this into account.

Examples:

**Gangnam Style**
https://www.bbc.com/news/world-asia-30288542

<img src=https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiPuKTkQGyDw1aEqitgE1-M7o5MpdC63OZ3xj_h3K0S_CR9ql8CWthMtsnVREsnvrBbuX7tjt0Y2PuMU1EmFyvkfIO_nM_ocB3EzOqrCk-prmVs3bJ1KZ0RdTUOTEMzvp9cTGrJ32MUX9aJ/s1600/gangnamtube.jpg></img>

**Nuclear Gandhi**
https://www.avclub.com/sid-meier-s-memoir-debunks-the-myth-of-nuclear-gandhi-1844991916

<img src=https://img.pastemagazine.com/wp-content/avuploads/2020/09/15043842/bwa4j58swfoi2rdp5bdt.jpg></img>



---

**1.10. Representing Text**

The data type for representing text is called *String*.

In [ ]:
stringExample1 = "Hello World"
stringExample1

In [ ]:
stringExample2 = 'Hello World'
stringExample2

What if we want to express something like: He says 'hello' ?

In [ ]:
stringExample3 = "He says 'hello'"
stringExample3

In [ ]:
stringExample4 = 'He says 'hello''
stringExample4



---

**1.11. Operations on Strings**

Indexing:

In [ ]:
greeting = "Hello"
greeting[0]

Individual characters of a string can be accessed by their index:

    H   e   l   l   o
    0   1   2   3   4

Indices always start at zero. Therefore, the fifth element is accessed by index number 4!

Indexing can be performed from front to end or from end to front:

In [ ]:
greeting[0]

In [ ]:
greeting[-1]

The *len()* function returns the number of characters in a string:

In [ ]:
len(greeting)

**Be aware:**

In [ ]:
greeting[5]

If we want to access the last character, we can either use the [-1] index, or the len()-1 index



---


**1.12. Slicing**

By providing a start and and end index, we can get slices of a string:

In [ ]:
greeting[0:2]

In [ ]:
greeting[:2]

In [ ]:
greeting[1:3]

Note that the operation includes the start index, but excludes the end index:

    greeting[start index(included) : end index(excluded)]

In [ ]:
greeting[2:]

In [ ]:
greeting[2:4]

In [ ]:
greeting[2:5]

!!!

    greeting[2:5]
!!!

Might be a bit unexpected since index 5 threw an error earlier.



---

**1.13. Immutability**
The mutability or immutability is an important property of a data type

>An object with a fixed value. Immutable objects include numbers, strings and tuples. Such an object cannot be altered. A new object has to be created if a different value has to be stored. They play an important role in places where a constant hash value is needed, for example as a key in a dictionary.

Strings are *immutable*:

In [ ]:
greeting

In [ ]:
greeting[0] = 'C'



---


**1.14. String Manipulation**

Concatenation can be performed using the *+* operator:

In [ ]:
message = greeting + " class"
message

To repeat a string multiple times, the * operator can be used:

In [ ]:
3 * greeting

Note the subtle difference between *altering* a string (which is not possible) and reassignment of a string variable!

In [ ]:
message = message + "!" #the old variable message is overwritten by a new variable of the same name!
message



---
**1.15. String Formatting**

Strings can be formatted to include other variables:

In [ ]:
name = "John"
message = f"Hello {name}"
message

These can not only be strings but also other data types:

In [ ]:
nrCars = 3
message = f"I have {nrCars} cars"
message

There are special characters that can be used to format strings.

Newline: \n

In [ ]:
message = "Hello class,\nthis is an example..."
print (message)

Tab: \t

In [ ]:
overview = "Nr. Students:\t25\nNr. Teachers:\t5"
print (overview)